:root {
  --blue: #191d32;
  --red: #400406;
  --grey: #6d7275;
  --light-grey: #c7d6d5;
  --white: #ecebf3;
}

.headerContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--white);
}

.navLinks {
  display: flex;
  gap: 10px;
  font-size: 1.2em;
}

a {
  color: var(--blue);
  font-weight: 700;
}
.navLinkActive {
  border-bottom: 1px solid var(--red);
}
