:root {
  --blue: #191d32;
  --red: #400406;
  --grey: #6d7275;
  --light-grey: #c7d6d5;
  --white: #ecebf3;
}

.headerContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: var(--white);
}

.navLinks {
  display: flex;
  gap: 10px;
  font-size: 1.2em;
}

.navLinkActive {
  border-bottom: 1px solid var(--red);
}

.cartContainer {
  position: relative;
}

.cartQuantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -12px;
  color: var(--red);
  font-weight: 600;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
