* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
  background-size: cover;
}
