* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
